.gallery {
    padding: 60px 40px;
    background-color: #f4f4f4;
    text-align: center;
}

.gallery h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.gallery-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-images img {
    max-width: 30%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gallery-images img:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}