@font-face {
    font-family: 'TBJ';
    src: url('../fonts/fuenteTBJ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: linear-gradient(to bottom, #1e1e1e, #56378f);
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero .content {
    max-width: 50%;
    padding: 0 5%;
}

.hero h1 {
    font-size: 48px;
    margin: 0 0 20px;
    color: #fff;
    font-family: 'TBJ', sans-serif;
}

.hero p {
    font-size: 24px;
    margin: 0 0 40px;
    color: #fff;
    font-family: 'TBJ', sans-serif;
}

.hero .cta-button {
    background-color: #FF5733;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    font-family: 'TBJ', sans-serif;
}

.hero .cta-button:hover{
    background-color: #C13C1A;
}


.hero .media {
    position: relative;
    max-width: 45%;
    overflow: hidden;
    padding: 0 5%;
}

.carousel-image {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hero .new-badge {
    position: absolute;
    top: 4%;
    right: 12%;
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 14px;
}

.dots {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #3c34a4;
}